      <!-- Get Help -->
      <div class="jumbotron">
        <h1><small>Came for help?</small><br/>You'll find none here<br/><small>See you soon!</small></h1>
        <p>This help was provide by Marc-Antoine. Comments are disabled.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/" role="button">Go home</a>
        </p>
      </div>

